 <!DOCTYPE html>
<html>
  <head>
    <title> Learner Quiz </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style_i.css">
  </head>
  <body>
    <h1> Welcome to the <b> 'Which Learner are You' </b> Quiz! </h1>
    <h2> Made by Eliza Berman, Chandra Rhys, and Jewel Brown. </h2>
    <h2> With help from: </h2>
    <br>
    <br>
    <a href= "http://flatironschool.com/" target="_blank"> <img src= "images/the-flatiron-school-logo-sm-black.png"> </a>
    <br><br>
    <a class="boxed" href= "/scenario"> Begin the Quiz! </a>
  </body>
</html>