 <!DOCTYPE html>
<html>
  <head>
    <title> Learner Quiz </title>
  </head>
  <body>
    <h1> Welcome to the 'Which Learner are You' Quiz </h1>
    <h2> Made by Eliza Berman, Chandra Rhys, and Jewel Brown </h2>
    <h2> With help from </h2>
    <img src= "images/the-flatiron-school-logo-sm-black.png">
    <br><br>
    <a href= "/scenario"> Begin the Quiz! </a>
  </body>
</html>