<!DOCTYPE html>
<html>
  <body>
    <a href="/picture">  scenario </a>
    
    <p> What's your spirit animal? </p>  
     <img src="images/bat.png" height = "160" width = "170">
  <input type="radio" name="_" value="A">
   
<img src="images/whale.png" height = "160" width = "170"> 
  <input type="radio" name="_" value="A">
    <br>
<img src="images/cheetah.png" height = "160" width = "170"> 
  <input type="radio" name="_" value="T">
    
<img src="images/monkey.png" height = "160" width = "170"> 
  <input type="radio" name="_" value="V">
   
    <br>
    <p> Which of these is your favorite color? </p>
  <br>
    <br>
<img src="images/blue.png" height = "160" width = "170"> 
  <input type="radio" name="_" value="A">
    
<img src="images/red.png" height = "160" width = "170"> 
  <input type="radio" name="_" value="T">
    <br>
<img src="images/orange.png" height = "160" width = "170"> 
  <input type="radio" name="_" value="A">
    
<img src="images/purple.png" height = "160" width = "170"> 
  <input type="radio" name="_" value="V">
    <br>
    <p> Which of these games is your favorite? </p>
  <br>
    <br>
<img src="images/simon_says.jpeg" height = "160" width = "170"> 
  <input type="radio" name="_" value="A">
    
<img src="images/twister.jpg" height = "160" width = "170"> 
  <input type="radio" name="_" value="T">
    <br>
<img src="images/pictionary.jpg" height = "160" width = "170"> 
  <input type="radio" name="_" value="V">
    
<img src="images/operation.jpg" height = "160" width = "170"> 
  <input type="radio" name="_" value="V">
    <br>
    <p> Which of these best describes your life?</p>
<br>
    <br>
<img src="images/work.png" height = "160" width = "170"> 
   <input type="radio" name="_" value="A">
  
<img src="images/art.png" height = "160" width = "170"> 
  <input type="radio" name="_" value="V">
    <br>
<img src="images/party.png" height = "160" width = "170"> 
  <input type="radio" name="_" value="T">
    
<img src="images/sports.png" height = "160" width = "170"> 
  <input type="radio" name="_" value="T">
    <br>
    <p> If you were in a time machine, where would you go? </p>
  <br>
    <br>
<img src="images/present.png" height = "160" width = "170"> 
  <input type="radio" name="_" value="V">
    
<img src="images/nowhere.jpg" height = "160" width = "170"> 
  <input type="radio" name="_" value="V">
    <br>
<img src="images/future.jpg" height = "160" width = "170"> 
  <input type="radio" name="_" value="T">
   
 <img src="images/past.jpg" height = "160" width = "170"> 
    <input type="radio" name="_" value="A">
    <br>
  </body>
</html>