<!DOCTYPE html>
<html>
  <head>
    <title> Scenario Questions </title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <h1> Scenario Questions </h1>
    <h3> You're in line at the supermarket and it is LONG. What do you do? </h3>
    <form>
      <input type="radio" name="supermarket" value="convo" checked>Start a convo with all your fellow line mates. 
        <br>
      <input type="radio" name="supermarket" value="fidget">Fidget and move back and forth.
        <br>
      <input type="radio" name="supermarket" value="rock" checked>Rock out to your tunes in your headphones and think of what you need to do. 
        <br>
    </form> 
  </body>
</html>